@using PatientsSchedule.Web.Internal

@model PatientsSchedule.Web.Models.Appointment

@{
    ViewData["Title"] = "Delete Appointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-custom-dark">
    <h2 class="text-danger">Sunteti sigur ca doriti sa stergeti aceasta programare?</h2>
    <div>
        <span class="text-danger">@ViewBag.ErrorMessage</span>
    </div>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class="col-sm-10">
            @Model.FullName
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppointmentDate)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.AppointmentDuration)
        </dt>
        <dd class="col-sm-10">
            @InternalConverters.GetFrontEndStringDuration(Model.AppointmentDuration)
            @*@Html.DisplayFor(model => model.AppointmentDuration)*@
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sterge" class="btn btn-danger rounded-0 minimal-margins" />
        <a asp-action="Index" class="btn btn-success rounded-0 minimal-margins">Anulare</a>

        <span class="text-danger">@ViewBag.ErrorMessage</span>
    </form>
</div>
