@model PatientsSchedule.Web.Models.AppointmentModel

@{
    ViewData["Title"] = "Modificare programare";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" class="bg-custom-blue">
            <h1>Modificare programare</h1>
            <div>
                <span class="text-danger">@ViewBag.ErrorMessage</span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="PatientId" class="control-label"></label>
                <select asp-for="PatientId" asp-items="@(new SelectList(ViewBag.ListOfPatients, "Id", "FullName"))" class="form-control"></select>
                <span asp-validation-for="PatientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppointmentDate" class="control-label"></label>
                <input asp-for="AppointmentDate" type="date" class="form-control" />
                <span asp-validation-for="AppointmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="side-by-side-first">
                    <span>
                        <label asp-for="FromHour" class="control-label"></label>
                        <select asp-for="FromHour" asp-items="@(new SelectList(ViewBag.ListOfHours, "FromHour"))" class="form-control"></select>
                    </span>
                    <span asp-validation-for="FromHour" class="text-danger"></span>
                </div>
                <div class="side-by-side-second">
                    <span>
                        <label asp-for="FromMinute" class="control-label"></label>
                        <select asp-for="FromMinute" asp-items="@(new SelectList(ViewBag.ListOfMinutes, "FromMinute"))" class="form-control"></select>
                    </span>
                    <span asp-validation-for="FromMinute" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="side-by-side-first">
                    <span>
                        <label asp-for="ToHour" class="control-label"></label>
                        <select asp-for="ToHour" asp-items="@(new SelectList(ViewBag.ListOfHours, "ToHour"))" class="form-control"></select>
                    </span>
                    <span asp-validation-for="ToHour" class="text-danger"></span>
                </div>
                <div class="side-by-side-second">
                    <span>
                        <label asp-for="ToMinute" class="control-label"></label>
                        <select asp-for="ToMinute" asp-items="@(new SelectList(ViewBag.ListOfMinutes, "ToMinute"))" class="form-control"></select>
                    </span>
                    <span asp-validation-for="ToMinute" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvare" class="btn btn-primary minimal-margins" />
                <a asp-action="Index" class="btn btn-success minimal-margins">Anulare</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
