@using PatientsSchedule.Web.Internal

@model PatientsSchedule.Web.Models.WeeklyAppointmentsModel

@{
    ViewData["Title"] = "Appointments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Appointments</h1>
<p>
    <a asp-action="Create">Add Appointment</a>
</p>

<div>
    <span class="text-danger">@ViewBag.ErrorMessage</span>
</div>

<form class="week-navigation navigation-buttons" asp-action="Index">
    <input type="submit" value="Previous Week" name="navigate" class="btn btn-dark" />
    <input type="submit" value="Next Week" name="navigate" class="btn btn-dark" />
</form>

<table class="table table-borderless">
    <thead class="bg-custom-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.ProgramariLuni)<br />@Html.DisplayTextFor(model => model.DataLuni)</th>
            <th>@Html.DisplayNameFor(model => model.ProgramariMarti)<br />@Html.DisplayTextFor(model => model.DataMarti)</th>
            <th>@Html.DisplayNameFor(model => model.ProgramariMiercuri)<br />@Html.DisplayTextFor(model => model.DataMiercuri)</th>
            <th>@Html.DisplayNameFor(model => model.ProgramariJoi)<br />@Html.DisplayTextFor(model => model.DataJoi)</th>
            <th>@Html.DisplayNameFor(model => model.ProgramariVineri)<br />@Html.DisplayTextFor(model => model.DataVineri)</th>
            <th>@Html.DisplayNameFor(model => model.ProgramariSambata)<br />@Html.DisplayTextFor(model => model.DataSambata)</th>
            <th>@Html.DisplayNameFor(model => model.ProgramariDuminica)<br />@Html.DisplayTextFor(model => model.DataDuminica)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <table class="table table-striped table-borderless table-sm font-custom-dark">
                    <thead></thead>
                    <tbody>
                        @foreach (var item in Model.ProgramariLuni)
                        {
                            <tr>
                                <td>
                                    @InternalConverters.GetFrontEndStringDuration(item.AppointmentDuration)<br />
                                    @item.FullName
                                </td>
                                <td class="align-element-to-right">
                                    <a class="btn-sm" asp-action="Edit" asp-route-id="@item.Id"><img src="~/images/edit.png" alt="Edit"></a>
                                    <a class="btn-sm" asp-action="Delete" asp-route-id="@item.Id"><img src="~/images/delete.png" alt="Delete"></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </td>
            <td>
                <table class="table table-striped table-borderless table-sm font-custom-dark">
                    <thead></thead>
                    <tbody>
                        @foreach (var item in Model.ProgramariMarti)
                        {
                            <tr>
                                <td>
                                    @InternalConverters.GetFrontEndStringDuration(item.AppointmentDuration)<br />
                                    @item.FullName
                                </td>
                                <td class="align-element-to-right">
                                    <a class="btn-sm" asp-action="Edit" asp-route-id="@item.Id"><img src="~/images/edit.png" alt="Edit"></a>
                                    <a class="btn-sm" asp-action="Delete" asp-route-id="@item.Id"><img src="~/images/delete.png" alt="Delete"></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </td>
            <td>
                <table class="table table-striped table-borderless table-sm font-custom-dark">
                    <thead></thead>
                    <tbody>
                        @foreach (var item in Model.ProgramariMiercuri)
                        {
                            <tr>
                                <td>
                                    @InternalConverters.GetFrontEndStringDuration(item.AppointmentDuration)<br />
                                    @item.FullName
                                </td>
                                <td class="align-element-to-right">
                                    <a class="btn-sm" asp-action="Edit" asp-route-id="@item.Id"><img src="~/images/edit.png" alt="Edit"></a>
                                    <a class="btn-sm" asp-action="Delete" asp-route-id="@item.Id"><img src="~/images/delete.png" alt="Delete"></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </td>
            <td>
                <table class="table table-striped table-borderless table-sm font-custom-dark">
                    <thead></thead>
                    <tbody>
                        @foreach (var item in Model.ProgramariJoi)
                        {
                            <tr>
                                <td>
                                    @InternalConverters.GetFrontEndStringDuration(item.AppointmentDuration)<br />
                                    @item.FullName
                                </td>
                                <td class="align-element-to-right">
                                    <a class="btn-sm" asp-action="Edit" asp-route-id="@item.Id"><img src="~/images/edit.png" alt="Edit"></a>
                                    <a class="btn-sm" asp-action="Delete" asp-route-id="@item.Id"><img src="~/images/delete.png" alt="Delete"></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </td>
            <td>
                <table class="table table-striped table-borderless table-sm font-custom-dark">
                    <thead></thead>
                    <tbody>
                        @foreach (var item in Model.ProgramariVineri)
                        {
                            <tr>
                                <td>
                                    @InternalConverters.GetFrontEndStringDuration(item.AppointmentDuration)<br />
                                    @item.FullName
                                </td>
                                <td class="align-element-to-right">
                                    <a class="btn-sm" asp-action="Edit" asp-route-id="@item.Id"><img src="~/images/edit.png" alt="Edit"></a>
                                    <a class="btn-sm" asp-action="Delete" asp-route-id="@item.Id"><img src="~/images/delete.png" alt="Delete"></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </td>
            <td>
                <table class="table table-striped table-borderless table-sm font-custom-dark">
                    <thead></thead>
                    <tbody>
                        @foreach (var item in Model.ProgramariSambata)
                        {
                            <tr>
                                <td>
                                    @InternalConverters.GetFrontEndStringDuration(item.AppointmentDuration)<br />
                                    @item.FullName
                                </td>

                                <td class="align-element-to-right">
                                    <a class="btn-sm" asp-action="Edit" asp-route-id="@item.Id"><img src="~/images/edit.png" alt="Edit"></a>
                                    <a class="btn-sm" asp-action="Delete" asp-route-id="@item.Id"><img src="~/images/delete.png" alt="Delete"></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </td>
            <td>
                <table class="table table-striped table-borderless table-sm font-custom-dark">
                    <thead></thead>
                    <tbody>
                        @foreach (var item in Model.ProgramariDuminica)
                        {
                            <tr>
                                <td class="align-element-to-right">
                                    @InternalConverters.GetFrontEndStringDuration(item.AppointmentDuration)<br />
                                    @item.FullName
                                </td>
                                <td>
                                    <a class="btn-sm" asp-action="Edit" asp-route-id="@item.Id"><img src="~/images/edit.png" alt="Edit"></a>
                                    <a class="btn-sm" asp-action="Delete" asp-route-id="@item.Id"><img src="~/images/delete.png" alt="Delete"></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
