@using PatientsSchedule.Web.Internal

@model PatientsSchedule.Web.Models.WeeklyAppointments

@{
    ViewData["Title"] = "Programari";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-white">Programari</h1>
<p>
    <a asp-action="Create" class="btn btn-primary">Programare noua</a>
</p>

<div>
    <span class="text-danger">@ViewBag.ErrorMessage</span>
</div>

<form class="week-navigation navigation-buttons" asp-action="Index">
    <input type="submit" value="Saptamana precedenta" name="navigate" class="btn btn-dark" />
    <input type="submit" value="Saptamana urmatoare" name="navigate" class="btn btn-dark" />
</form>

<table class="table table-borderless bg-custom-beige custom-margin-padding">
    <thead class="bg-custom-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.MondayAppointments)<br />@Html.DisplayTextFor(model => model.MondayDate)</th>
            <th>@Html.DisplayNameFor(model => model.TuesdayAppointments)<br />@Html.DisplayTextFor(model => model.TuesdayDate)</th>
            <th>@Html.DisplayNameFor(model => model.WednesdayAppointments)<br />@Html.DisplayTextFor(model => model.WednesdayDate)</th>
            <th>@Html.DisplayNameFor(model => model.ThursdayAppointments)<br />@Html.DisplayTextFor(model => model.ThursdayDate)</th>
            <th>@Html.DisplayNameFor(model => model.FridayAppointments)<br />@Html.DisplayTextFor(model => model.FridayDate)</th>
            <th>@Html.DisplayNameFor(model => model.SaturdayAppointments)<br />@Html.DisplayTextFor(model => model.SaturdayDate)</th>
            <th>@Html.DisplayNameFor(model => model.SundayAppointments)<br />@Html.DisplayTextFor(model => model.SundayDate)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <table class="table table-striped table-borderless table-sm font-custom-blue-table custom-margin-padding">
                    <thead></thead>
                    <tbody>
                        @foreach (var item in Model.MondayAppointments)
                        {
                            <tr class="item-minimal-padding-margin">
                                <td>
                                    @InternalConverters.GetFrontEndStringDuration(item.AppointmentDuration)<br />
                                    @item.FullName
                                </td>
                                <td class="item-no-padding-margin text-right">
                                    <a class="btn-sm item-no-padding-margin" asp-action="Edit" asp-route-id="@item.Id"><img src="~/images/edit.png" alt="Edit"></a>
                                    <a class="btn-sm item-no-padding-margin" asp-action="Delete" asp-route-id="@item.Id"><img src="~/images/delete.png" alt="Delete"></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </td>
            <td>
                <table class="table table-striped table-borderless table-sm font-custom-blue-table custom-margin-padding">
                    <thead></thead>
                    <tbody>
                        @foreach (var item in Model.TuesdayAppointments)
                        {
                            <tr>
                                <td>
                                    @InternalConverters.GetFrontEndStringDuration(item.AppointmentDuration)<br />
                                    @item.FullName
                                </td>
                                <td class="item-no-padding-margin text-right">
                                    <a class="btn-sm item-no-padding-margin" asp-action="Edit" asp-route-id="@item.Id"><img src="~/images/edit.png" alt="Edit"></a>
                                    <a class="btn-sm item-no-padding-margin" asp-action="Delete" asp-route-id="@item.Id"><img src="~/images/delete.png" alt="Delete"></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </td>
            <td>
                <table class="table table-striped table-borderless table-sm font-custom-blue-table custom-margin-padding">
                    <thead></thead>
                    <tbody>
                        @foreach (var item in Model.WednesdayAppointments)
                        {
                            <tr>
                                <td>
                                    @InternalConverters.GetFrontEndStringDuration(item.AppointmentDuration)<br />
                                    @item.FullName
                                </td>
                                <td class="item-no-padding-margin text-right">
                                    <a class="btn-sm item-no-padding-margin" asp-action="Edit" asp-route-id="@item.Id"><img src="~/images/edit.png" alt="Edit"></a>
                                    <a class="btn-sm item-no-padding-margin" asp-action="Delete" asp-route-id="@item.Id"><img src="~/images/delete.png" alt="Delete"></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </td>
            <td>
                <table class="table table-striped table-borderless table-sm font-custom-blue-table custom-margin-padding">
                    <thead></thead>
                    <tbody>
                        @foreach (var item in Model.ThursdayAppointments)
                        {
                            <tr>
                                <td>
                                    @InternalConverters.GetFrontEndStringDuration(item.AppointmentDuration)<br />
                                    @item.FullName
                                </td>
                                <td class="item-no-padding-margin text-right">
                                    <a class="btn-sm item-no-padding-margin" asp-action="Edit" asp-route-id="@item.Id"><img src="~/images/edit.png" alt="Edit"></a>
                                    <a class="btn-sm item-no-padding-margin" asp-action="Delete" asp-route-id="@item.Id"><img src="~/images/delete.png" alt="Delete"></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </td>
            <td>
                <table class="table table-striped table-borderless table-sm font-custom-blue-table custom-margin-padding">
                    <thead></thead>
                    <tbody>
                        @foreach (var item in Model.FridayAppointments)
                        {
                            <tr>
                                <td>
                                    @InternalConverters.GetFrontEndStringDuration(item.AppointmentDuration)<br />
                                    @item.FullName
                                </td>
                                <td class="item-no-padding-margin text-right">
                                    <a class="btn-sm item-no-padding-margin" asp-action="Edit" asp-route-id="@item.Id"><img src="~/images/edit.png" alt="Edit"></a>
                                    <a class="btn-sm item-no-padding-margin" asp-action="Delete" asp-route-id="@item.Id"><img src="~/images/delete.png" alt="Delete"></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </td>
            <td class="bg-custom-dark-table">
                <table class="table table-striped table-borderless table-sm font-custom-blue-table custom-margin-padding">
                    <thead></thead>
                    <tbody>
                        @foreach (var item in Model.SaturdayAppointments)
                        {
                            <tr>
                                <td>
                                    @InternalConverters.GetFrontEndStringDuration(item.AppointmentDuration)<br />
                                    @item.FullName
                                </td>

                                <td class="item-no-padding-margin text-right">
                                    <a class="btn-sm item-no-padding-margin" asp-action="Edit" asp-route-id="@item.Id"><img src="~/images/edit.png" alt="Edit"></a>
                                    <a class="btn-sm item-no-padding-margin" asp-action="Delete" asp-route-id="@item.Id"><img src="~/images/delete.png" alt="Delete"></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </td>
            <td class="bg-custom-dark-table">
                <table class="table table-striped table-borderless table-sm font-custom-blue-table custom-margin-padding">
                    <thead></thead>
                    <tbody>
                        @foreach (var item in Model.SaturdayAppointments)
                        {
                            <tr>
                                <td>
                                    @InternalConverters.GetFrontEndStringDuration(item.AppointmentDuration)<br />
                                    @item.FullName
                                </td>
                                <td class="item-no-padding-margin text-right">
                                    <a class="btn-sm item-no-padding-margin" asp-action="Edit" asp-route-id="@item.Id"><img src="~/images/edit.png" alt="Edit"></a>
                                    <a class="btn-sm item-no-padding-margin" asp-action="Delete" asp-route-id="@item.Id"><img src="~/images/delete.png" alt="Delete"></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
