@model PatientsSchedule.Web.Models.PatientModel

@{
    ViewData["Title"] = "Stergere pacient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-custom-blue">
    <h3 class="text-danger">Sunteti sigur ca doriti sa stergeti acest pacient?</h3>
    <div>
        <span class="text-danger">@ViewBag.ErrorMessage</span>
    </div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sterge" class="btn btn-danger minimal-margins" />
        <a asp-action="Index" class="btn btn-success minimal-margins">Anulare</a>
    </form>
</div>
